@import "stylesheets/colors.css";
@import "stylesheets/define.css";
@import "stylesheets/icon.css";
@import "stylesheets/navbar.css";
@import "stylesheets/media.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;      /* needed to activate blink effect */
    background-color: var(--bg-dark);                /* always use dark form of grey for dark mode */  
    display: flex;
    height: 100vh;                              /* give body full size of current display */
}

.container {
    display:flex;
    order: 2;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper_clock {
    display: flex;
    vertical-align:center;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 50%;
    box-shadow:                                 /* shadow built by 3 different widths */
        0 0 5px var(--shadow-blue),
        0 0 10px var(--shadow-blue),
        0 0 15px var(--shadow-blue);
}

#clock_time {
    font-size: 2em;
    color: var(--alice-blue);
    /* color: #0044CC; */
}

.blink-colon {
    animation: blink 1s infinite linear;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    30% {
        opacity: 0.25;
    }
}

#clock_date {
    color: grey;
}

