@import "stylesheets/colors.css";
@import "stylesheets/define.css";
@import "stylesheets/icon.css";
@import "stylesheets/navbar.css";
@import "stylesheets/media.css";
@import "stylesheets/settings.css";
@import "stylesheets/clock-design.css";


* {
    margin: 0;
    padding: 0;
    overflow:hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;      /* needed to activate blink effect */
    background-color: var(--body-bg);
    display: flex;
    height: 100vh;
}

.container {
    display:flex;
    order: 2;
    width: 100%;
    align-items: center;
    justify-content: center;
}

