/* clock design #1 */
.wrapper_clock_design1 {
    display: flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--selected-color1);
    border-radius: 50%;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow:                                 /* shadow built by 3 different widths */
        0 0 5px var(--selected-color1),
        0 0 10px var(--selected-color1),
        0 0 15px var(--selected-color1);

    #clock_time_design1 {
        font-size: 7.5vw;
        color: var(--text-color);
        font-family: 'Share Tech Mono', monospace;
        text-shadow: 0 0 20px var(--selected-color1),  0 0 20px rgba(10, 175, 230, 0);
    }    

    #clock_date_design1 {
        font-size: 4vw;
        color: var(--border-color);
        font-family: 'Share Tech Mono', monospace;
        text-shadow: 0 0 20px var(--selected-color1),  0 0 20px rgba(10, 175, 230, 0);
    }
}

/* clock design #2 */
.wrapper_clock_design2 {
    width: 30rem;
    height: 30rem;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
        inset 4px 4px 10px rgba(0,0,0,0.5),
        inset -4px -4px 10px rgba(67,67,67,0.5),
        4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 50px;
    position: relative;
    padding: 1rem;  /* width of outer "border" */
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .outer-clock-face_design2 {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: var(--ash-grey);
        overflow: hidden;
    }
    
    .outer-clock-face_design2::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    
    .outer-clock-face_design2::before,
    .outer-clock-face_design2::after,
    .outer-clock-face_design2 .marking{
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        background: var(--selected-color1);
        z-index: 0;
        left: 49%;
    }
    
    .outer-clock-face_design2 .marking {
        background: #bdbdcb;
        width: 3px;
    }
    
    .outer-clock-face_design2 .marking.marking-1_design2 {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(30deg)
    }
    
    .outer-clock-face_design2 .marking.marking-2_design2 {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        transform: rotate(60deg)
    }
    
    .outer-clock-face_design2 .marking.marking-3_design2 {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        transform: rotate(120deg)
    }
    
    .outer-clock-face_design2 .marking.marking-4_design2 {
        -webkit-transform: rotate(150deg);
        -moz-transform: rotate(150deg);
        transform: rotate(150deg)
    }
    
    .inner-clock-face_design2 {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background: var(--ash-grey);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        z-index: 1;
    }
    
    .inner-clock-face_design2::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        border-radius: 18px;
        margin-left: -9px;
        margin-top: -6px;
        background: #4d4b63;
        z-index: 11;
    }
    
    .hand {
        width: 50%;
        right: 50%;
        height: 6px;
        background: var(--selected-color2);
        position: absolute;
        top: 50%;
        border-radius: 6px;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }
    
    .hand.hour-hand_design2 {
        width: 30%;
        z-index: 10;
    }
    
    .hand.minute-hand_design2 {
        height: 3px;
        z-index: 10;
        width: 40%;
    }
    
    .hand.second-hand_design2 {
        background: var(--selected-color3);
        width: 45%;
        height: 2px;
        z-index: 10;
    }
    .active_hours {
        color: var(--text-color);
        opacity: 0.6;
    }
    .passive_hours {
        color:var(--disabled-grey);
        opacity: 0.4;
    }
    #wrapper_am_design2 {
        position: absolute;
        top: 25%;
        left: 45%;
        z-index: 9;
        font-size: 1.7em;
    }
    #wrapper_pm_design2 {
        position: absolute;
        top:65%;
        left: 45%;
        z-index: 9;
        font-size:1.7em;
    }
}


/* clock design #3 */
.wrapper_clock_design3 {
    display: flex;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(ellipse at center,  var(--design3-bg)  0%, var(--body-bg) 70%);
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    #clock_time_design3 {
        font-family: 'Share Tech Mono', monospace;
        font-size: 10vw;
        letter-spacing: 0.05em;
        padding: 5px 0;
        color: var(--text-color);
        text-shadow: 0 0 20px var(--design3-shadow),  0 0 20px rgba(10, 175, 230, 0);
    }    

    #clock_date_design3 {
        color: var(--text-color);
        opacity: 0.5;
        font-size: 6vw;
        text-shadow: 0 0 10px var(--design3-shadow),  0 0 20px rgba(10, 175, 230, 0);
        font-family: 'Share Tech Mono', monospace;
    }
}

/* clock design #4 */
.wrapper_clock_design4 {
    background: #ececec;
    line-height: 1;
    width: 328px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 14px solid #333;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .dot_design4 {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #ccc;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        z-index: 10;
        box-shadow: 0 2px 4px -1px black;
    }
    
    .hour-hand_design4 {
        position: absolute;
        z-index: 5;
        width: 4px;
        height: 65px;
        background: var(--selected-color2);
        top: 79px;
        transform-origin: 50% 72px;
        left: 50%;
        margin-left: -2px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    
    .minute-hand_design4 {
        position: absolute;
        z-index: 6;
        width: 4px;
        height: 100px;
        background: var(--selected-color2);
        top: 46px;
        left: 50%;
        margin-left: -2px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        transform-origin: 50% 105px;
    }
    
    .second-hand_design4 {
        position: absolute;
        z-index: 7;
        width: 2px;
        height: 120px;
        background: var(--selected-color3);
        top: 26px;
        lefT: 50%;
        margin-left: -1px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        transform-origin: 50% 125px;
    }
    
    span {
        display: inline-block;
        position: absolute;
        color: var(--selected-color1);
        font-size: 22px;
        font-family: 'Poiret One';
        font-weight: 700;
        z-index: 4;
    }
    
    .h12_design4 {
        top: 30px;
        left: 50%;
        margin-left: -9px;
    }
    .h3_design4 {
        top: 140px;
        right: 30px;
    }
    .h6_design4 {
        bottom: 30px;
        left: 50%;
        margin-left: -5px;
    }
    .h9_design4 {
        left: 32px;
        top: 140px;
    }
    
    .diallines_design4 {
        position: absolute;
        z-index: 2;
        width: 2px;
        height: 15px;
        background: #666;
        left: 50%;
        margin-left: -1px;
        transform-origin: 50% 150px;
    }
    .diallines_design4:nth-of-type(5n) {
        position: absolute;
        z-index: 2;
        width: 4px;
        height: 25px;
        background: #666;
        left: 50%;
        margin-left: -1px;
        transform-origin: 50% 150px;
    }
    
    .info {
        position: absolute;
        width: 120px;
        height: 20px;
        border-radius: 7px;
        text-align: center;
        line-height: 20px;
        color: #000;
        font-size: 11px;
        top: 200px;
        left: 50%;
        margin-left: -60px;
        font-family: "Poiret One";
        font-weight: 700;
        z-index: 3;
        letter-spacing: 3px;
        margin-left: -60px;
        left: 50%;
        opacity: 0.8;
    }
    .date_design4 {
        top: 80px;
    }
    .day_design4 {
        top: 200px;
    }
}


.blink-colon {
    animation: blink 1s infinite linear;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    30% {
        opacity: 0.25;
    }
}