:root {                /* always use dark form of grey for dark mode */  
    --bg-dark: #1c1c1c;

    --shadow-blue: rgb(0,0,234);
    --alice-blue: #F0F8FF;
    --deepnavy-blue: #011222;
    --disabled-grey: rgba(105, 105, 105, 0.6);
    --forbidden-red: #52191EC7;
    --forbidden-blue: rgba(11, 55, 98, 0.8);

    --select-clockcolor: #0f9154;

    --yqni13-gradient: linear-gradient(167deg, #650D88 42%, #BC0C79 90%);
}

[data-theme='lightmode'] {
    --body-bg: var(--alice-blue);
    --text-color: var(--deepnavy-blue);
    --border-color: var(--deepnavy-blue);
}

[data-theme='darkmode'] {
    --body-bg: var(--bg-dark);
    --text-color: var(--alice-blue);
    --border-color: var(--disabled-grey);
}