
/* desktop device, full width */
@media screen and (min-width: 1024px) {
    body {
        flex-direction: row;
    }
    
    .nav-bar {
        height: auto;
        width: 26em;
        ul {
            height: 100%;
            flex-direction: column;
        }
    }
}

/* mobile device, collapsed nav left side */
@media screen and (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    .nav-bar {
        order: 2!important;
        width: 100%;
        height: 5rem;
        justify-content: center;
        border-right: none!important;
        border-top: solid 1px var(--disabled-grey) !important;
        ul {
            height: auto;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            li > a {
                font-size: 0px;
            }
            li {
                i {
                    margin: 0 25px!important;
                    width: 1.7rem!important;
                    height: 1.7rem!important;
                }
            }
            li:first-child {
                display: none;
            }
            li:last-child {
                margin: 15px 0!important;
            }
            .disabled-item {

            }
        }
    }

    .container {
        order: 1!important;
        height: 100%;
    }
}

/* mobile device, small nav centered bottom */
@media screen and (max-width: 500px) {
    .nav-bar {
        ul {
            li {
                i {
                    margin: 0 3.5vw!important;
                    width: 30px!important;
                    height: 30px!important;
                }
            }
        }
    }
}