
/* desktop device, full width */
@media screen and (min-width: 1025px) {
    body {
        flex-direction: row;
    }
    
    .nav-bar {
        height: auto;
        width: 26em;
        ul {
            height: 100%;
            flex-direction: column;
        }
    }

    .wrapper_clock_design1 {
        width: 30vw;
        #clock_time_design1 {
            font-size: 6vw!important;
        }
        #clock_date_design1 {
            font-size: 3vw!important;
        }
    }

    .wrapper_clock_design2 {
        width: 40vw;
        height: 40vw;
    }

    #wrapper-settings {
        flex-direction: column;
        .settings-preview {
            width: 100%!important;
            height: 35%!important;
            border-right: none;
            border-bottom: solid 1px var(--border-color);
            text-align: -webkit-center;
            text-align: -moz-center;
            .settings-preview-box {
                margin: 25px 0;
                width: 100%;
                #settings-preview-img {
                    margin: 0!important;
                    height: 100%!important;
                }
            }
        }
        .settings-content {
            width: 70%!important;
            display: flex!important;
            flex-direction: row!important;
            flex-wrap: wrap!important;
            height: 65%!important;
            margin: 25px 0;
            scrollbar-width: none;
            align-content: baseline!important;

            .setting-options {
                padding: 0 5vw!important;
                margin: 10px 0!important;
                
            }
        }
    }
}

/* mobile device, collapsed nav left side */
@media screen and (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    .nav-bar {
        order: 1!important;
        width: 100%;
        height: 5rem;
        justify-content: center;
        border-right: none!important;
        border-bottom: solid 1px var(--border-color) !important;
        ul {
            height: auto;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            li > a {
                font-size: 0px;
            }
            li {
                i {
                    margin: 0 25px!important;
                    width: 1.7rem!important;
                    height: 1.7rem!important;
                }
            }
            li:first-child {
                display: none;
            }
            li:last-child {
                margin: 15px 0!important;
            }
        }
    }

    .container {
        order: 2!important;
        height: 100%;
    }

    .wrapper_clock_design1 {
        width: 40vw;
    }

    .wrapper_clock_design2 {
        width: 50vw;
        height: 50vw;
    }

    #wrapper-settings {
        .settings-preview {
            width: 40%!important;
            .settings-preview-box {
                width: 100%;
            }
        }
        .settings-content {
            width: 60%!important;
            .setting-options {
                padding: 0 5vw!important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        ul {
            li {
                i {
                    margin: 0 3.5vw!important;
                    width: 30px!important;
                    height: 30px!important;
                }
            }
        }
    }

    .wrapper_clock_design1 {
        width: 55vw;
        #clock_time_design1 {
            font-size: 10vw!important;
        }
        #clock_date_design1 {
            font-size: 6vw!important;
        }
    }

    .wrapper_clock_design2 {
        width: 60vw;
        height: 60vw;
    }

    .wrapper_clock_design3 {
        #clock_time_design3 {
            font-size: 12vw!important;
        }
        #clock_date_design3 {
            font-size: 8vw!important;
        }
    }

    #wrapper-settings {
        flex-direction: column;
        .settings-preview {
            width: 100%!important;
            height: 35%!important;
            border-right: none;
            border-bottom: solid 1px var(--border-color);
            text-align: -webkit-center;
            .settings-preview-box {
                margin: 25px 0;
                width: 100%;
                #settings-preview-img {
                    margin: 0!important;
                    height: 100%!important;
                }
            }
        }
        .settings-content {
            width: 70%!important;
            display: flex!important;
            flex-direction: row!important;
            flex-wrap: wrap!important;
            height: 65%!important;
            margin: 25px 0;
            align-content: baseline!important;

            .setting-options {
                padding: 0 5vw!important;
                margin: 10px 0!important;
                
            }
        }
    }
}

/* mobile device, small nav centered bottom */
@media screen and (max-width: 500px) {
    .nav-bar {
        ul {
            li {
                i {
                    margin: 0 3.5vw!important;
                    width: 30px!important;
                    height: 30px!important;
                }
            }
        }
    }

    .wrapper_clock_design1 {
        width: 60vw;
    }

    .wrapper_clock_design2 {
        width: 70vw;
        height: 70vw;
        padding: 12px!important;
        margin: 30px!important;
        #wrapper_am_design2,
        #wrapper_pm_design2 {
            font-size: 1.4em!important;
        }
    }

    #wrapper-settings {

        .settings-content {
            width: 85%!important;

            .setting-options {
                padding: 0 5vw!important;

                label {
                    font-size: 4vw!important;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .nav-bar {
        ul {
            li {
                i {
                    margin: 0 3.5vw!important;
                    width: 30px!important;
                    height: 30px!important;
                }
            }
        }
    }

    .wrapper_clock_design2 {
        width: 70vw;
        height: 70vw;
        padding: 10px!important;
        margin: 25px!important;
        #wrapper_am_design2,
        #wrapper_pm_design2 {
            font-size: 1.3em!important;
        }
    }

    #wrapper-settings {
        .settings-content {
            width: 100%!important;

            .setting-options {
                padding: 0 5vw!important;

                label {
                    font-size: 5vw!important;
                }
            }
        }
    }
}