.nav-bar {
    width: 200px;
    border-right-color: grey;
    border-right-style: solid;
    border-right-width: 2px;

    ul {
        margin-left: 15px;
        list-style-type: none;
        li {
            a {
                text-decoration: none;
            }
        }
    }
}

