
#wrapper-settings {
    display: none;


}

.settings-preview {
    height: 100%;
    border-right: solid 1px var(--border-color);
    .settings-preview-box {
        align-content: center;
        #settings-preview-img {
            background-image: url("../assets/img/not_available.png");
            background-size: cover;
            background-repeat: no-repeat;
            aspect-ratio: 1 / 1;
            margin: 0 25px;
        }
    }
}

.settings-content {
    width: 70%;
    height: 100%;
    justify-content: center;
    overflow: auto;
    align-content: center;
    scrollbar-width: none;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.setting-options {
    width: 100%;
    padding: 0 15%;
    display: flex;
    margin: 25px 0;

    label { 
        color: var(--text-color);
        font-size: 1.3rem;
        align-content: center;
        flex: 1;
        cursor: default;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    select {
        width: 35%;
        padding: 10px 20px;
        color: var(--text-color);
        background-color: var(--body-bg);
        border-color: var(--border-color);
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    input {
        background-color: var(--body-bg);
        border-color: var(--disabled-grey);
    }

    .small-selectors {
        width: 75px;
    }

    /* toggle switch */
    .custom-switch {
        position: relative;
        display: inline-block;
        height: 25px;
        /* height: 34px; */
        flex: none!important;
        
        input {
            opacity: 0;
            height: 0;
        }
        input:checked + .custom-slider {
            background-color: var(--forbidden-blue);
        }
        input:focus + .custom-slider {
            box-shadow: 0 0 1px white;
        }
        input:checked + .custom-slider:before {
            -webkit-transform: translateX(46px);
            -ms-transform: translateX(46px);
            transform: translateX(46px);
        }

        .custom-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--disabled-grey);
            -webkit-transition: .4s;
            transition: .4s;

            &:before {
                position: absolute;
                content: '';
                height: 17px;
                width: 17px;
                left: 6px;
                bottom: 4px;
                background-color: var(--alice-blue);
                -webkit-transition: .4s;
                transition: .4s;
            }
        }

        .custom-slider.round {
            border-radius: 34px;
        }
        .custom-slider.round:before {
            border-radius: 50%;
        }
    }
}

/* disabled color picker */
.disabled-setting-option {
    display: none;
    label {
        color: var(--disabled-grey)!important;
        text-decoration: line-through!important;
    }
    input {
        opacity: 0.25!important;
    }
}